.search-option {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    cursor: pointer;
    
    span {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url("@assets/icons/icon-search-mod-noc.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    p {
        color: var(--gray);
        font-size: 16px;
        margin-left: 15px;
        cursor: pointer;
    }
}
