.searcher-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    .noresults-container{
        margin-bottom: 149px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 150px;
            height: 150px;
        }

        p{
            margin-top: 29px;
            font-size: 2.2rem;
            color: var(--aqua);
            font-weight: 700;
        }
    }

    .search-result-container {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            margin-bottom: 38px;
            font-size: 2.5rem;
            color: var(--purple);
            padding-top: 43px;
            border-top: 1px solid var(--light-gray);
            font-weight: 700;
        }

        .btn-showmore {
            margin-top: 78px;
            border: 1px solid var(--purple);
            border-radius: 25px;
            color: var(--purple);
            outline: none;
            font-size: 1.3rem;
            width: 127px;
            height: 50px;
            background-color: var(--white);

            &:hover{
                background-color: var(--purple);
                color: var(--white);
            }
        }
    }
}
