.slider-container {
    .slider {
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 0px 0px 0px 22px;

        display: flex;
        flex-wrap: nowrap;

        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
}

@media screen and (min-width: 900px) {
    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 35px;
        overflow: hidden;

        .slider {
            width: auto;
        }

        .slider-button {
            padding: 0;
            margin: 0;
            background-color: transparent;
            outline: none;
            border: none;

            .slider-button-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;

                &.left {
                    background-image: url("@assets/button-slider-left.svg");

                    &:hover {
                        background-image: url("@assets/button-slider-left-hover.svg");
                    }
                }

                &.right {
                    background-image: url("@assets/Button-Slider-right.svg");

                    &:hover {
                        background-image: url("@assets/Button-Slider-right-hover.svg");
                    }
                }
            }

            &:disabled {
                visibility: hidden;
            }
        }
    }
}
