h1 {
    margin: 0 auto;
    text-align: center;
    max-width: 286px;
    font-size: 2.5rem;
    color: var(--purple);
    font-weight: 700;

    span {
        color: var(--aqua);
    }
}

.home-icon-container {
    margin-top: 33px;
    display: flex;
    justify-content: center;

    .home-icon {
        width: 300px;
    }
}


@media screen and (min-width: 768px) {
    h1 {
        max-width: 600px;
        font-size: 3.5rem;
    }

    .home-icon-container {
        margin-top: 33px;
        display: flex;
        justify-content: center;

        .home-icon {
            width: 300px;
        }
    }
}

@media screen and (min-width: 900px) {
    .home-icon-container {
        margin-top: 24px;

        .home-icon {
            width: 400px;
        }
    }
}
