:root {
    --white: #ffffff;
    --purple: #572ee5;
    --purple-opacity: #572ee599;
    --gray: #6b7989;
    --light-gray: #cdd6e0;
    --black: #000000;
    --aqua: #50e3c2;
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}
